# --- System & Environment ---
__pycache__/
*.pyc
data/
bin/
*.o
*.mod
*.exe
aermod_env/
.vscode/

# --- Secrets ---
.cdsapirc
config/secrets.yaml
config.yaml

# --- Data (Do NOT commit huge weather/model files) ---
data/
!data/.gitkeep
data/met/raw/
data/met/interim/
data/met/processed/
data/met/aermet_logs/
data/model/
data/model_output/

# --- IDE Settings ---
.vscode/
.idea/

# --- Logs ---
*.log

#----OS specifics----
.DS_Store

# --- Fortran Intermediate Files (in case they appear in root) ---
*.o
*.mod
*.exe

# Secrets
credentials.json
